.App {
  display: flex;
  flex-direction: row;
  margin: 0%;
}

.MainPage {
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}
